*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Variables */

:root {
    --primary-color: #0abf53;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #3b3663;
}

/* Main Section */

section{
    min-height: 100vh;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
    background: var(--bg-color);
    padding: 40px;
}


/* Title  */

h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--heading-color);
}


/* Cards Styles  */

.wrapper{
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}


.card{
    position: relative;
    width: 350px;
    background: var(--bg-color);
    border: 3px solid #e8e8e8;
    border-radius: 7px;
    margin: 0 10px;
    padding: 40px 25px;
    text-align: center;
    transition: .5s linear;
}

.mainCard{
    border-color: var(--primary-color);
}

.badge{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 64px 0 0;
    border-color: var(--primary-color) transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.badge > i{
    color: var(--bg-color);
    position: absolute;
    left: 8px;
    top: -54px;
    font-size: 18px;
}

.card:hover{
    transform: translateY(-30px);
}


.name{
    color: var(--heading-color);
    font-size: 30px;
    font-weight: 600;
}

.price{
    margin-top: 7px;
    margin-bottom: 10px;
    color: var(--font-color);
}

.trial{
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
    color: var(--primary-color);
    border: 1px solid #e4e4e4;
    display: inline-block;
    border-radius: 15px;
    background-color: var(--bg-color);
    position: relative;
    bottom: -20px;
}

hr{
    background-color: #dedede;
    border: none;
    height: 1px;
}


ul{
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 50px;
}

ul li{
    margin-bottom: 20px;
    font-size: 17px;
    color: var(--font-color);
    opacity: .85;
}

li > i{
    font-size: 18px;
    color: var(--primary-color);
    margin-right: 3px;
}


.btn{
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 10px;
    color: var(--primary-color);
    background: rgba(170, 170, 170, 0.1);
    padding: 12px 25px;
    border-radius: 7px;
    cursor: pointer;
}

.mainBtn{
    background: var(--primary-color);
    color: var(--bg-color);
}

.btn:hover{
    background: var(--primary-color);
    color: var(--bg-color);
}

/* Footer Styles  */

footer{
    padding: 0 10px;
    text-align: center;
}

footer p{
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    opacity: .8;
}

footer a{
    color: var(--heading-color);
    text-decoration: none;
}

footer a:hover{
    color: var(--primary-color);
}

/* Responsive Media Queries  */

@media screen and (max-width:1140px){
    .wrapper{
        width: 1000px;
    }
    .card{
        width: auto;
    }
}

@media screen and (max-width:990px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 720px;
    }
    .card{
        width: auto;
    }
}

@media screen and (max-width:736px) {
    h1{
        font-size: 30px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        width: auto;
    }
    .card{
        width: 340px;
    }
}

@media screen and (max-width:384px) {
    section{
        padding:40px 0;
    }
    .wrapper{
        width: auto;
    }
    .card{
        width: 96%;
    }
    .name{
        font-size: 25px;
    }
}